
.hero_container{
    height: 750px;
    position: relative;
}

.hero_txt{
    padding: 30px;
    line-height: 70px;
    padding-top: 150px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.hero_sub_text{
    max-width: 650px;
    width: 100%;
    line-height: 25px;
    padding-left: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.btn_shop_now{
    position: absolute;
    bottom: 200px;
    left: 50px;
    display: block;
    width: 300px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background-color: orangered;
    /* border-radius: 8px; */
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.btn_shop_now:hover{
    background-color: rgb(235, 63, 1);
    transform: scale(1.1);
}


@media screen and (max-width: 800px) {
    .hero_txt{
        padding: 0 30px 0 30px;
        padding-top: 150px;
        line-height: 45px;
        font-size: 40px;
    }
    
    
.btn_shop_now{
    position: static;
    margin: 40px;
    width: 300px;
    height: 75px;
    line-height: 75px;
    font-weight: 700;
    font-size: 20px;
}

}