.best_seller_container {
    display: block;
    /* margin-top: 50px; */
    margin-bottom: 60px;
}

.best_seller_title {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    font-weight: bold;
}

.best_seller_content {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    width: 98%;
    /* justify-content: space-evenly; */
    border-radius: 4px;
    min-height: 150px;
    margin: 10px auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
}


.header_cart_container {
    width: 500px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999999;
    animation-name: openCart;
    animation-duration: 1s;
    animation-timing-function: ease;
    box-shadow: -1px 0px 8px 0px #050505;
    overflow: hidden;
    display: none;
    grid-template-rows: auto 1fr auto;
    padding: 10px 20px 20px 20px;
}

.header_cart_container #btn_close_cart {
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    color: brown;
    background-color: rgba(255, 255, 255, 0.253);
    margin-bottom: 10px;
}

@keyframes openCart {
    from {
        width: 0;
    }

    to {
        width: 500px;
    }
}

@keyframes closeCart {
    from {
        width: 500px;
    }

    to {
        width: 0;
    }
}

.header_cart_container .shopping-cart {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: calc(100% - 30px);
    position: relative;
}

.header_cart_container .shopping-cart .column-labels {
    display: grid;
    background-color: #efefef;
    grid-template-columns: 100px 1fr auto auto auto;
    gap: 15px;
    padding: 10px 8px;
}

.header_cart_container .shopping-cart .cart_items_container {
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 300px);
    /* position: relative; */
}

.header_cart_container .shopping-cart .cart_items_container::-webkit-scrollbar {
    background-color: rgb(161, 161, 161);
    width: 10px;
    color: #fff;
    position: absolute !important;
    left: 40px;
}

.header_cart_container .shopping-cart .cart_items_container::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 17);
    width: 4px;
    border-radius: 15px;
}


.header_cart_container .shopping-cart .book_cart_item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    padding: 10px 5px;
    height: min-content;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    position: relative;
}

.header_cart_container .shopping-cart .book_cart_item img {
    max-width: 100px !important;
    max-height: 200px !important;
    margin-left: 2px;
}

.header_cart_container .shopping-cart .book_cart_item .book_cart_details {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}


.header_cart_container .shopping-cart .book_cart_item .book_cart_details *:nth-child(1) {
    text-align: left;
    max-width: 150px;
}

.header_cart_container .shopping-cart .book_cart_item .book_cart_details *:nth-child(4) {
    text-align: left;
    height: 30px;
}

.delete_item {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding-top: 8px;
    text-align: center;
    top: 0px;
    left: 0px;
    background-color: rgb(224, 43, 43);
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
}


.cart_total_container {
    width: 300px;
    background-color: #efefef;
    height: 180px;
    position: absolute;
    bottom: -40px;
    right: 0px;
}

.cart_total_container .totals .totals-item {
    display: flex;
    gap: 15px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.cart_total_container .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.cart_total_container .btns .checkout,
.cart_total_container .btns .continue_tocart {
    outline: none;
    border: none;
    background-color: var(--main-green);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}


.cart_total_container .btns .continue_tocart {
    background-color: var(--main-blue);
}




@media screen and (max-width: 1000px) {
    .explor_container {
        display: block !important;
        max-width: 100vw !important;
    }

    .explor_container .images {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .explor_container .text_content {
        padding: 20px;
        text-align: center;
    }
    .explor_container .text_content .btn_explorer{
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .best_seller_container {
        margin-top: 5px;
        margin-bottom: 6px;
    }
    
    .best_seller_title {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    
}
